<% favorited = user_signed_in? && current_user.favorited?(favoritable) %>

<div id="favorite-<%= favoritable.class.name.downcase %>-<%= favoritable.id %>">
  <% if user_signed_in? %>
    <% if favorited %>
      <%= button_to "❤️ Retirer des favoris",
          favorite_path_for(favoritable),
          method: :delete,
          class: "btn btn-sm btn-outline-danger" %>
    <% else %>
      <%= button_to "🤍 Ajouter aux favoris",
          favorite_path_for(favoritable),
          method: :post,
          class: "btn btn-sm btn-outline-secondary" %>
    <% end %>
  <% end %>
</div>